preliminary/riscv-linux-rootfs/build/
preliminary/riscv-linux-rootfs/riscv64-rootfs.bin
preliminary/riscv-syscalls-testing/user/build
preliminary/riscv-syscalls-testing/user/lib/syscall_ids.h
preliminary/riscv-syscalls-testing/user/riscv64